extends layout

block head
  link(rel='stylesheet', href='/components/bootstrap-datepicker/css/datepicker.css')

block content
  .container
    .littleContainer 
      .header
        .content
          h1 Add
      .summary
        p Add a player, team, game, or event in game.
      .inputs
        form(role="form")
          .row
            .form-group.col-md-6
              label(for="typeInput") Type
              select.form-control#typeInput
                option(value="game") Game
                option(value="player") Player
                option(value="event") Event
                option(value="team") Team
              p.help-block The type of this object.

          .row#nameRow
            .form-group.col-md-6
              label(for="nameInput") Name
              input(id="nameInput", name="name", type="text").form-control
              p.help-block The name of this object. Need not be unique.

          .row.hidden#descRow
            .form-group.col-md-6
              label(for="descInput") Description
              input(id="descInput", name="desc", type="text").form-control
              p.help-block A very brief description.
              
          .row.hidden#gameRow
            .form-group.col-md-6
              label(for="gameInput") Parent Game
              select.form-control#gameInput
                option(value="unattached") Unattached
              p.help-block Event in which game.

          .row.hidden#teamRow
            .form-group.col-md-6
              label(for="teamInput") Team
              select.form-control#teamInput
                option(value="unattached") Unattached
                option(value="test") Test
              p.help-block Team attachment.

          .row#compRow
            .form-group.col-md-6
              h4 Add Participating Teams
              .input-group
                select.form-control#addTeamInput
                  option(value="unattached") Unattached
                  option(value="test") Test
                span.input-group-btn
                  button(type="button").btn.btn-default#addTeam
                    span.glyphicon.glyphicon-plus

          .row.hidden#timeRow
            .form-group.col-md-6
              label(for="dateInput") Start Date/ Time
              .input-group.date#datetimepicker1
                input(type='text').form-control
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
              p.help-block When the event will begin.

        .submission-area
          button.btn.btn-primary#submit Submit
      .preview
        .thumbnail
          span.glyphicon.glyphicon-bullhorn#prevIcon
        .text-container 
          h3#objectName Example Name
          p#objectDesc Lorum ipsum dolorem...

  script()#testTemplate.
    <div class="team-box"><span>{{name}}</span><button type="button" onclick="removeGame(this); return false;" class="btn btn-default remove-btn"><span class="glyphicon glyphicon-minus"></span></button></div>



block scripts
  script(src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js")
  //script(src='/components/bootstrap-datepicker/js/bootstrap-datepicker.js')
  script(src='/javascripts/add.js')
