extends layout

block content
  .container
    .littleContainer
      h1 Scoreboard
      h3 A new way to manage competitive athletics.

      div
        a(href="/add") Add an object.
      div
        a(href="/players") View player list.
      div
        a(href="/games") View game list.
      div
        a(href="/teams") View team list.

block scripts
  script(src='/javascripts/index.js')
