extends layout

block content
  .container
    .littleContainer
      h1 Scoreboard
      h3 A new way to manage competitive athletics.

      a(href="/add") Add an object.

block scripts
  script(src='/javascripts/index.js')
